/* import the google font */
@import url('https://fonts.googleapis.com/css?family=Raleway');

a {
  font-family: Raleway;
  color: white;
}

/* master class for all three main-body columns */ 
.aligned-dogs {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #3f8ca6;
  height: 200px;
  width: 200px;
}

body, footer {
  margin: 0px;
  padding: 0px;
}

.body-content {
  text-align: center;
}

button {
  background-color: #ffffff;
  border-style: solid;
  border-color: #3f8ca6;
  border-width: 4px;
  height: 30px;
  width: auto;
  font-family: Raleway;
  font-size: 16px;
  color: #3f8ca6;
}

/* master class for four footer icons */ 
.contact-icons {
  padding: 20px;
}

.facebook-icon, .twitter-icon, .instagram-icon, .linkedin-icon {
  padding: 20px;
  display: inline-block;
}

.first-column {
  float: left;
  width: 31%; 
  padding: 10px;
  display: inline-block;
}

.footer-content {
  clear: left;
  background-color: #3f8ca6;
  text-align: center;
  color: white;
  padding: 20px;
}

.header-content {
  background-image: url("images/park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
}

#header-dog {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: #3f8ca6;
  height: 250px;
  width: 250px;
}

.navigation-bar {
  background-color: #91dfe3;
}

p, h1, h2 {
  font-family: Raleway;
}

.second-column {
  float: left;
  padding: 10px;
  width: 31%; 
}

.site-icon {
  width: 35px;
  padding-left: 20px;
}

.third-column {
  float: left;
  padding: 10px;
  width: 31%; 
}

ul {
  list-style: none;
  float: right;
}

ul li {
  font-weight: bold;
  padding: 5px;
  padding-right: 20px;
  display: inline;
} 

ul li a {
  text-decoration: none;
}







